.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    min-height: 75px;
    padding: 1rem;
    background-color: #000;
    color: #fff;
}
.navbar-links{
    display: flex;
}

.navbar-link{
    padding: 0 0.3rem;
    color: inherit;
}
.navbar-burguer{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    color: inherit;
    display: none;
}

@media screen and (max-width:767px){
    .navbar-links{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: 0;
        right: -100vw;
        bottom: 0;
        height: 100vh;
        padding: 2rem;
        visibility: hidden;
        background-color: #000;
    }
    .show-nav .navbar-links{
        width: 100vw;
        right: 0;
        visibility: visible;
    }
    .navbar-link{
        display: block;
        padding: 1.5rem;
        font-size: 5vw;
    }
    .navbar-burguer{
        display: block;
        position: fixed;
        top: 1rem;
        right: 1rem;
    }
    .navbar-burguer:hover{
        cursor: pointer;
    }
    .burguer-bar, 
    .burguer-bar::before,
    .burguer-bar::after{
        display: block;
        width: 40px;
        height: 3px;
        position: relative;
        border-radius: 3px;
        background: #fff;
    }
    .burguer-bar::before,
    .burguer-bar::after{
        content: "";
        position: absolute;
        left: 0;
    }
    .burguer-bar::before{
        transform: translateY(-12px)
    }

    .burguer-bar::after{
        transform: translateY(12px)
    }
}